:root {
    --text-white: rgba(255, 255, 255, 1);
    --text-rgb-48-48-48: rgba(48, 48, 48, 1);
}

.text-white {
    color: var(--text-white);
}

.text-rgb-48-48-48 {
    color: var(--text-rgb-48-48-48);
}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Prototype Links (v5.6.0) */
a.prototype-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.vector-7 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-8 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-9 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-10 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-11 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-12 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-13 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.group-6 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/* Prototype Links (v5.6.0) */
a.prototype-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}


.logo-dga {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 4.0786598689002185%;
}

.text-15 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: none;
    color: var(--text-white);
}

.frame-3-14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.header-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

.text-18 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2%;
    line-height: 72px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.text-19 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.node-17 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 1024px;
}

.node-16 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 89.56294846705805%;
}

.content-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
    padding: 48px 80px 64px 80px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.color-dark {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(7, 77, 49, 1);
    border-radius: 24px;
}

.text-21 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-22 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-24 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-25 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-26 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-27 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-30 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
}

.rectangle-6205-31 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 8px;
}

.frame-628-29 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-663-28 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.step-23 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-33 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-34 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-35 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-36 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-40 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 9.983351707458496px;
    width: 100%;
    height: auto;
}

.rectangle-6206-41 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    backdrop-filter: blur(22.485300064086914px);
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle-6204-42 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(44, 44, 44, 1);
}

.node-44 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 13.067461967468262px;
    width: 100%;
    height: auto;
}

.rectangle-6205-45 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 12261.931640625px;
}

.rectangle-6206-46 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 12261.931640625px;
}

.vector-7091-47 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid rgba(219, 161, 2, 1);
    border: none;
    outline: none;
}

.group-44308-43 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-630-39 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 7.495100021362305px;
}

.frame-628-38 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-664-37 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.node-49 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 6.172108173370361px;
    width: 100%;
    height: auto;
}

.node-50 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 6.172108173370361px;
    width: 100%;
    height: auto;
}

.frame-655-48 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 20px 12px 20px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.step-32 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-52 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-53 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-56 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007835-55 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.node-58 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007834-57 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.frame-654-54 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 0px 12px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.step-51 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.steps-20 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-60 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-61 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-63 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-64 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-67 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
}

.rectangle-6205-68 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 8px;
}

.frame-628-66 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-663-65 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-69 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-70 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-71 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-72 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-76 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 7.487513542175293px;
    width: 100%;
    height: auto;
}

.rectangle-6206-77 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    backdrop-filter: blur(16.863975524902344px);
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle-6204-78 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(44, 44, 44, 1);
}

.node-80 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 9.800596237182617px;
    width: 100%;
    height: auto;
}

.rectangle-6205-81 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.8394737243652344px solid rgba(219, 161, 2, 1);
    border-radius: 9196.44921875px;
}

.rectangle-6206-82 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.8394737243652344px solid rgba(219, 161, 2, 1);
    border-radius: 9196.44921875px;
}

.vector-7091-83 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.5px solid rgba(219, 161, 2, 1);
    border: none;
    outline: none;
}

.group-44308-79 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-630-75 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 5.6213250160217285px;
}

.frame-628-74 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.node-84 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 10.52978515625px;
    width: 100%;
    height: auto;
}

.frame-665-73 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-85 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-86 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.step-62 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.node-89 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007835-88 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.node-91 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007834-90 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.frame-654-87 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 0px 12px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.steps-59 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-93 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-94 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-96 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-97 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-100 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
}

.rectangle-6205-101 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 8px;
}

.frame-628-99 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-663-98 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-102 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-103 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-104 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-105 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-109 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 7.487513542175293px;
    width: 100%;
    height: auto;
}

.rectangle-6206-110 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    backdrop-filter: blur(16.863975524902344px);
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle-6204-111 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(44, 44, 44, 1);
}

.node-113 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 9.800596237182617px;
    width: 100%;
    height: auto;
}

.rectangle-6205-114 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.8394737243652344px solid rgba(219, 161, 2, 1);
    border-radius: 9196.44921875px;
}

.rectangle-6206-115 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.8394737243652344px solid rgba(219, 161, 2, 1);
    border-radius: 9196.44921875px;
}

.vector-7091-116 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.5px solid rgba(219, 161, 2, 1);
    border: none;
    outline: none;
}

.group-44308-112 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-630-108 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 5.6213250160217285px;
}

.frame-628-107 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.node-117 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 10.52978515625px;
    width: 100%;
    height: auto;
}

.frame-665-106 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-118 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-119 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.step-95 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.node-122 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007835-121 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.node-124 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-1000007834-123 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14.13888168334961px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
}

.frame-654-120 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 0px 12px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.steps-92 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.node-1 {
    @media (max-width: 1440px) {
        .node-1 {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 768px) {
        .node-1 {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 80px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1693px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
}


/* Prototype Links (v5.6.0) */
a.prototype-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.vector-131 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-132 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-133 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-134 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-135 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-136 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-137 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.group-130 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-139 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: none;
    color: var(--text-white);
}

.frame-3-138 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.header-128 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

.text-142 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2%;
    line-height: 72px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.text-143 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.node-141 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 1024px;
}

.node-140 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 89.56294846705805%;
}

.content-127 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
    padding: 48px 80px 64px 80px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-145 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-146 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-147 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-148 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-150 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.node-151 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.frame-664-149 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding: 12px 80px 12px 80px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-152 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-153 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-155 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
}

.node-156 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.frame-666-154 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 20px 12px 20px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.node-158 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.node-159 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.node-160 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.node-161 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 6.6649041175842285px;
    width: 100%;
    height: auto;
}

.frame-668-157 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 20px 12px 20px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.node-163 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.node-164 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.frame-669-162 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 20px 12px 20px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-165 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-166 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-168 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.rectangle-6206-169 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid rgba(219, 161, 2, 1);
    border-radius: 12261.931640625px;
}

.frame-670-167 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 20px 12px 20px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.steps-144 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.design-assets-125 {
    @media (max-width: 1440px) {
        .design-assets-125 {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 768px) {
        .design-assets-125 {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 80px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1693px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
}


.text-rgb-31-42-55 {
    color: var(--text-rgb-31-42-55);
}

.text-rgb-108-115-127 {
    color: var(--text-rgb-108-115-127);
}


/* Prototype Links (v5.6.0) */
a.prototype-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.vector-176 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-177 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-178 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-179 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-180 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-181 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.vector-182 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.group-175 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-184 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: none;
    color: var(--text-white);
}

.frame-3-183 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.header-173 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

.text-187 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2%;
    line-height: 72px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.text-188 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
}

.node-186 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 1024px;
}

.node-185 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 89.56294846705805%;
}

.content-172 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
    padding: 48px 80px 64px 80px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-1000007861-190 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-191 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-192 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-194 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-195 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-198 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
}

.rectangle-6205-199 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 8px;
}

.frame-628-197 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-663-196 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.step-193 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-201 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-202 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-203 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-204 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-208 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 9.983351707458496px;
    width: 100%;
    height: auto;
}

.rectangle-6206-209 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    backdrop-filter: blur(22.485300064086914px);
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle-6204-210 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(44, 44, 44, 1);
}

.node-212 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 13.067461967468262px;
    width: 100%;
    height: auto;
}

.rectangle-6205-213 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 12261.931640625px;
}

.rectangle-6206-214 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2.452631711959839px solid rgba(219, 161, 2, 1);
    border-radius: 12261.931640625px;
}

.vector-7091-215 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid rgba(219, 161, 2, 1);
    border: none;
    outline: none;
}

.group-44308-211 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-630-207 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 7.495100021362305px;
}

.frame-628-206 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-664-205 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 40px 12px 40px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.step-200 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.text-216 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-217 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-219 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-220 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-221 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-222 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.node-224 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.frame-654-223 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 0px 12px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.node-226 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 6.263952732086182px;
    width: 100%;
    height: auto;
}

.node-227 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 6.263952732086182px;
    width: 100%;
    height: auto;
}

.vector-7091-228 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.5659881830215454px solid rgba(219, 161, 2, 1);
    border: none;
    outline: none;
}

.rectangle-6269-229 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.1744911670684814px solid rgba(219, 161, 2, 1);
    border-radius: 3.131976366043091px;
}

.rectangle-6205-230 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1.5659881830215454px solid rgba(219, 161, 2, 1);
    border-radius: 3.131976366043091px;
    border: none;
    outline: none;
}

.frame-666-225 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 0px 12px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    border-radius: 8px;
}

.text-231 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.text-232 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-48-48-48);
}

.step-218 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.icon-240 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(181, 71, 8, 1);
    border: none;
    outline: none;
}

.elements-239 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.style-stroke-type-rounded {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-695-237 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 3.1978680879413726%;
    border-radius: 100px;
}

.text-241 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-31-42-55);
}

.frame-1000007860-236 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

.text-242 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: left;
    font-family: var(--font-family-ibm-plex-sans-arabic);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-108-115-127);
}

.frame-21019-235 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.frame-21017-234 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 16px 0px 16px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 97.9125896934116%;
}

.how-233 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 16px 0px 16px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    background-color: rgba(255, 250, 235, 1);
    border-radius: 16px;
}

.steps-189 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.library-migration-170 {
    @media (max-width: 1440px) {
        .library-migration-170 {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 768px) {
        .library-migration-170 {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 80px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1693px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
}
