{% extends 'assessment/base.html' %}

{% block content %}
    <h1 class="text-left" dir="ltr">{{ question.text }}</h1>

    {% if question.explanation %}
        <div class="text-left text-sm italic text-gray-400 mt-2" dir="ltr">{{ question.explanation|linebreaks }}</div>
    {% endif %}

    <div class="mt-6 text-left" dir="ltr">
        {% for option in question.options.all %}
            {% if option.response_type == 'PREDEFINED' %}
                <p class="my-2">
                    {% if option.next_question %}
                        <a href="{% url 'assessment:question' option.next_question.id %}" class="text-blue-400 hover:text-blue-300">{{ option.text }}</a>
                    {% else %}
                        <span class="text-gray-300">{{ option.text }} - <strong class="text-green-400">{{ option.label }}</strong></span>
                    {% endif %}
                </p>
            {% elif option.response_type == 'FREE_TEXT' %}
                <form action="{% if option.next_question %}{% url 'assessment:question' option.next_question.id %}{% else %}#{% endif %}" method="get" class="mt-4">
                    <label for="free_text_response" class="block mb-2">{{ option.text }}</label>
                    <input type="text" id="free_text_response" name="response" class="bg-gray-700 border border-gray-600 rounded-md p-2 w-full max-w-md text-white">
                    <br><br>
                    <input type="submit" value="Continue" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
                    {% if not option.next_question and option.label %}
                        <p class="inline-block ml-4 text-gray-400">This will conclude the assessment with the label: <strong class="text-yellow-400">{{ option.label }}</strong></p>
                    {% endif %}
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
