{% load assessment_tags %}
<div class="card question-box {% if answer %}collapsed{% endif %}"
     data-question-id="{{ question.id }}"
     data-selected-answer-ids="{{ answer_ids|default:'[]'|to_json }}"
     role="group"
     aria-labelledby="question-{{ question.id }}">
    <h3 id="question-{{ question.id }}">{{ question.display_text }}</h3>
    <p class="explanation lead" id="explanation-{{ question.id }}">{{ question.display_explanation }}</p>

    <div class="selected-answer-placeholder" aria-live="polite">
        {% if answer %}
            {% if answer|length > 0 and answer.0|length > 1 %} {# Check if it's a list #}
                {% for ans in answer %}
                    <div class="selected-answer">{{ ans }}</div>
                {% endfor %}
            {% else %}
                <div class="selected-answer">{{ answer.0 }}</div>
            {% endif %}
        {% endif %}
    </div>

    <div class="options">
        {# Determine which list of options to use #}
        {% if question.option_type == 'STATIC' %}
        {% with option_list=question.options.all %}
        {% include "assessment_runs/_options_renderer.html" %}
        {% endwith %}
        {% elif question.option_type == 'INDICATOR_LIST' %}
        {% with option_list=options %}
        {% include "assessment_runs/_options_renderer.html" %}
        {% endwith %}
        {% endif %}
    </div>
</div>
