{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate "الرئيسية" %}</a>
  › <a href="{% url 'admin:app_list' app_label='indicators' %}">{% translate "المؤشرات" %}</a>
  › <a href="{% url 'admin:assessment_runs_questionclassificationrule_changelist' %}">{% translate "التصنيفات" %}</a>
  › {% if add %}{% translate "إضافة" %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
